{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Create reservation" %}{% endblock %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% trans "New reservation" as messages_new_reservation %}
{% trans "Save" as messages_save %}
{% trans "Room" as messages_room %}
{% trans "No rooms available" as messages_no_rooms_available %}
{% trans "List of rooms" as messages_list_of_rooms %}

<link rel="stylesheet" href="{% static 'Datetimepicker/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'Timetable-lib/timetablejs.css' %}">


<div class="text-center" >
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>

<div class="container">
		<div class="col-sm-12">

			<!-- New Reservation -->
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ messages_new_reservation }}
				</div>

				<div class="panel-body">
            <div class ="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <!-- {{ form.as_p }} -->
                        {% buttons %}
                            <div class="text-center" >
                                    <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "ok" %}     {{ messages_save }}
    </button>
                            </div>
                        {% endbuttons %}
                    </form>
                </div>
            </div> 
        </div>
      </div>

        <!-- Current Rooms -->
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ messages_list_of_rooms }}
            </div>

            <div class="panel-body">
                {% if room_list %}
                    <table class="table table-striped room-table">
                        <tbody>
                            <tr>
                                <td id="timetable-date">

                                    <div class="container" style="width:90%;">
                                        <div class="row">
                                            <p class='text-center'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='reservationdate'>
                                                        <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="timetable"></div>
                {% else %}
                <div class="row">
                    <p class='text-center'>
                        {{ messages_no_room_available }}
                    </p>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static 'Datetimepicker/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'Datetimepicker/moment/min/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Datetimepicker/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Timetable-lib/timetable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Timetable-lib/timetable.script.js' %}"></script>

<script>
    window.reservations = [];
    {% if all_reservation_list %}
        {% for reservation in all_reservation_list %}
            var room = "{{ reservation.room }}";
            var group = "{{ reservation.group }}";
            var beginDate = new Date("{{ reservation.begin_date.isoformat }}".replace(" ", "T"));
            var endDate = new Date("{{ reservation.end_date.isoformat }}".replace(" ", "T"));
            window.reservations.push({room, group, beginDate, endDate});
        {% endfor %}
    {% endif %}

    window.timetable = new Timetable();
    window.timetable.setScope(8,20);
    var locations = [];

    {% if room_list %}
        {% for room in room_list %}
            locations.push("{{ room }}");
        {% endfor %}
        window.timetable.addLocations(locations);
 
    createTimetable(new Date());

    $(function () {
        $('#reservationdate').datetimepicker({
            locale: 'pl',
            format: 'YYYY-MM-DD',
            daysOfWeekDisabled: [0]
        });

        $('#id_begin_date').datetimepicker({
            locale: 'pl',
            format: 'YYYY-MM-DD HH:mm',
            daysOfWeekDisabled: [0]
        });

        $('#id_end_date').datetimepicker({
            locale: 'pl',
            format: 'YYYY-MM-DD HH:mm',
            daysOfWeekDisabled: [0]
        });

        $('#reservationdate').on("dp.change", function(e){
            createTimetable(new Date(e.date));
        });
    });
    {% endif %}


</script>
{% endblock %}
